
body {
    padding: 50px;
    background-color: beige;
}
h1 {
    color: brown;
}
.forma{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: firebrick;
    color: #ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
}
.circulo{
    font-size: 40px;
}
.btn{
    font-size: 25px;
}
main{
    display:flex;
    justify-content:center;
    align-items:center;
}
