
#color{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.color-0{background-color: grey;}
.color-1{background-color: red;}
.color-2{background-color: green;}
.color-3{background-color: blue;}