
*{
    margin: 0;
    padding: 0;
}
.temp{
    width: 100px;
    height: 70px;
    font-size: 13px;
    float: left;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}