*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
header, footer{
    width: 100%;
    height: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: white;
    position: fixed;
}
header{
    background-color: blue;
}
footer{
    background-color: red;
    bottom: 0px;
}
section{
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
article{
    display:flex;
    justify-content:center;
    align-items:center;
}
