
*{
    margin: 0;
    padding: 0;
}
body {
    padding: 50px;
    background-color: beige;
}
h1 {
    color: brown;
}
#container{
    display: flex;
}
article{
    float: left;
    background-color: #ffffff;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 4%;
    width: 129px;
}
article img.bici{
    border: 1px solid black;
    border-radius: 4%;
    width: 128px;
    height: 128px;
}
article img.gusta{
    float: left;
    padding-left: 30px;
}
article img.contacto{
    float: right;
    padding-right: 30px;
}
.iconos{
    margin-top: 10px;
}
img.icono{
    width: 15px;
    height: 15px;
}
article .precio{
    font-weight: bold;
}

article .descripcion{
    color: #cecece;
    margin-top: 5px;
}

@media (min-width: 400px) {
    article {
        width: 20%;
    }
  }